/* styles.css */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(216, 158, 255, 0.5);
}

.banners, .list, .img-text, p, li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(245, 6, 105);
    background-color: rgb(247, 200, 143);
    border: 4px dotted rgb(131, 67, 248);
}

.banners {
    text-align: center;
    margin-left: 300px;
    margin-right: 150px;
    padding: 15px;
}

.description {
    font-size: medium;
}

ul, p {
    background-color: bisque;
    padding: 40px;
    margin-left: 600px;
    margin-right: 200px;
    margin-bottom: 100px;
}

p em {
    color: rgb(184, 9, 9);
}

.img-text {
    color: rgb(131, 67, 248);
    margin-left: 540px;
    margin-right: 150px;
    padding: 5px;
}

footer {
    text-align: center;
    font-weight: bolder;
}

.note {
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(255, 255, 255);
}

.turtle-pic {
    margin-left: 540px;
    border: dotted 4px rgb(131, 67, 248);
}

.list {
    margin-top: 80px;
}

li {
    display: inline-block;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
}